/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.topNav{
    background-color: #F7F701;
    width: 100%;
    padding: 10px;
}
h3{
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.search > input{
    width: 40%;
    border: none;
    border-bottom: 2px solid #d6d6d6;
    padding: 20px;
}
.search > input:focus{
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #d6d6d6;
}

.city{
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px #d2d2d24d;
    padding: 20px;
    border-radius: 20px;
    margin: 5% auto;
    text-align: center;
}
.details{
    margin-top: 30px;
}
.details > .city-name{
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}
.details > .city-temp{
    font-size: 20px;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 400;
}